.jodit_toolbar {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.jodit_icon {
    fill: rgba(0, 0, 0, 0.65);
}

.jodit_statusbar {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


/* Jodit hover styles */

.jodit_container:hover .jodit_toolbar {
    border-top-color: #40a9ff;
    border-left-color: #40a9ff;
    border-right-color: #40a9ff;
}

.jodit_container:hover .jodit_workplace {
    border-left-color: #40a9ff;
    border-right-color: #40a9ff;
}

.jodit_container:hover .jodit_statusbar {
    border-left-color: #40a9ff;
    border-right-color: #40a9ff;
    border-bottom-color: #40a9ff;
}

/* Jodit focus styles */
.jodit_container:focus-within {
    border-radius: 2px;
    box-shadow: rgba(24, 144, 255, 0.2) 0px 0px 0px 2px;;
}

.jodit_container:focus-within .jodit_toolbar {
    border-top-color: #40a9ff;
    border-left-color: #40a9ff;
    border-right-color: #40a9ff;
}

.jodit_container:focus-within .jodit_workplace {
    border-left-color: #40a9ff;
    border-right-color: #40a9ff;
}

.jodit_container:focus-within .jodit_statusbar {
    border-left-color: #40a9ff;
    border-right-color: #40a9ff;
    border-bottom-color: #40a9ff;
}

/* Jodit error styles */

.ant-form-item-has-error .jodit_toolbar {
    border-top-color: rgb(255, 77, 79);
    border-left-color: rgb(255, 77, 79);
    border-right-color: rgb(255, 77, 79);
}

.ant-form-item-has-error .jodit_workplace {
    border-left-color: rgb(255, 77, 79) !important;
    border-right-color: rgb(255, 77, 79) !important;
}

.ant-form-item-has-error .jodit_statusbar {
    border-left-color: rgb(255, 77, 79);
    border-right-color: rgb(255, 77, 79);
    border-bottom-color: rgb(255, 77, 79);
}

.formattedTextArea {
    font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-stretch: 100%;
    font-weight: 400;
}
