.ActionColumn {
    text-align: center !important;
}

.TableCard ul {
    margin-bottom: 6px !important;
}

:global .ant-table-column-sorters {
    padding: 0;
}

.ButtonAllPublished {
    color: #FFFFFF !important;
    background-color: #295211 !important;
}

.ButtonNotPublished {
    color: #FFFFFF !important;
    background-color: #ba3300 !important;
}

.ExpandedRow {
    background-color: #FFFFFF;
}
