.Content {
    margin: 0 15px;
    overflow: hidden;
    width: unset;
}

.Footer {
    padding: 0;
    background-color: #EEEEEE;
    height: 48px;
    line-height: 48px;
    border-top: 1px solid #CCCCCC;
}
